:host {
  display: block;
}

p {
  line-height: 1.5;
  font-size: 1rem;
  padding: 0.5rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p.info {
  background-color: #e6f7ff;
  border: 1px solid #91d5ff;
}
p.success {
  background-color: #f6ffed;
  border: 1px solid #b7eb8f;
}
p.error {
  background-color: #fff1f0;
  border: 1px solid #ffa39e;
}
p.acknowledged {
  display: none;
}
span {
  margin-left: 10px;
  background-color: transparent;
  cursor: pointer;
  font-size: 10px;
  opacity: 0.5;
}